body{
   height: 100vh;
   background-color: #eff3b9;
    opacity: 0.8;
   background-size: 20px 20px;
   background-image:  repeating-linear-gradient(0deg, rgb(236, 98, 98), rgb(236, 98, 98) 1px, #eef49e 1px,#ebf0a2);
}


.To-Do-List{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;

}
h1{
  font-size: 4rem;
  color: rgb(242, 139, 55);
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: rgb(17, 225, 17);
  margin-left: 2rem;
  color: black;
  border: #153f04 2px solid;
}
.add-button:hover{
  background-color: #319f05;
}
.delete-button{
  background-color: red;
}
.delete-button:hover{
  background-color: maroon;
}
.moveup-button{
  background-color: rgb(91, 91, 233);
}
.moveup-button:hover{
  background-color: rgb(17, 17, 103);
}
.movedown-button{
  background-color: rgb(91, 91, 233);
}
.movedown-button:hover{
  background-color: rgb(17, 17, 103);
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: wheat;
  margin-bottom: 10px;
  border:3px solid rgb(181, 180, 180);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex:1;
}
.delete-button, .movedown-button, .moveup-button{
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 1.4rem;
}
.outlined-text {
  text-shadow: 
    -1px -1px 0px rgb(134, 3, 3),  
     1px -1px 0px rgb(134,3,3),  
    -1px  1px 0px rgb(134,3,3),  
     1px  1px 0px rgb(134,3,3);
}